---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Sidebar from "./Sidebar.astro";
import { type Language } from "../../i18n";

interface Contact {
  type: string;
  icon: string;
  text: string;
  link?: string;
}

interface Props {
  name: string;
  lang: Language;
  currentPath?: string;
  photo: string;
  contacts: Contact[];
}

const { name, lang, currentPath = "/", photo, contacts } = Astro.props;
---

<div class="layout">
  <Header name={name} lang={lang} currentPath={currentPath} />

  <div class="main__container">
    <div class="layout__container">
      <div class="layout__sidebar">
        <Sidebar photo={photo} contacts={contacts} />
      </div>

      <main class="layout__main">
        <slot />
      </main>

      <div class="layout__spacer"></div>
    </div>

    <Footer name={name} />
  </div>
</div>

<style>
  @import "tailwindcss";
  @reference "../../styles/globals.css";

  .layout {
    @apply m-0 p-0 flex flex-col;
    @apply min-h-[calc(100vh-8px)] md:min-h-[calc(100vh-16px)];
  }

  .main__container {
    @apply flex flex-col grow justify-between;
  }

  .layout__container {
    @apply w-full flex flex-col;
    @apply px-8 pt-20 pb-10 gap-8;
    @apply md:px-24 md:pt-36 md:pb-24 md:grid md:gap-4;
    @apply md:grid-cols-[200px_1fr];
    @apply xl:grid-cols-[minmax(auto,200px)_1fr_minmax(auto,200px)];
  }

  .layout__sidebar {
    @apply w-full h-fit shrink-0;
    @apply md:w-auto md:self-start;
    @apply md:sticky md:top-40;
  }

  .layout__main {
    @apply w-full max-w-(--content-max-width) flex flex-col gap-5;
    @apply xl:justify-self-center xl:mx-auto;
  }

  .layout__spacer {
    @apply hidden xl:block;
  }
</style>
